# ML packages
numpy
pandas
scipy
scikit-learn
torch
seaborn
matplotlib
jupyter

# NLP
nltk
transformers
farm-haystack
thefuzz

# Models
en-core-sci-md

# Misc
dateparser
python-Levenshtein
tqdm
seqeval
boto3
smart-open
more-itertools
